<h2><%= @question.title %></h2>


<h3><%= @question.content %></h3>



  <p>Score: <%= @question.votes.sum('value') %></p>


<% if current_user %>
  <%= link_to "Add Comment", new_comment_path(:comment => { target_id: @question.id, target_type: 'question', question_id: @question.id }) %>

  <%= form_for @vote do |f| %>
    <%= hidden_field_tag 'value', '1' %>
    <%= hidden_field_tag 'question_id', @question.id %>
    <%= hidden_field_tag 'type', 'question' %>
    <%= f.submit ("Vote Up") %>
  <% end %>

  <%= form_for @vote do |f| %>
    <%= hidden_field_tag 'value', '-1' %>
    <%= hidden_field_tag 'question_id', @question.id %>
    <%= hidden_field_tag 'type', 'question' %>
    <%= f.submit ("Vote Down") %>
  <% end %>
<% end %>

<% if @question.comments %>
  <% @question.comments.each do |comment| %>
    <p>
      <%= comment.content %>
    </p>
    <p>
      <%= comment.user.username %>
    </p>
    <% if comment.user_id == current_user.id %>
      <p><%= link_to "Edit Comment", edit_comment_path(:comment => { comment_id: comment.id, question_id: @question.id }) %></p>
      <p><%= link_to "Delete Comment", comment_path(:comment => {comment_id: comment.id, question_id: @question.id }), :method => :delete %></p>
    <% end %>
  <% end %>
<% end %>

<div id="answers">
  <%= render "shared/answers" %>
</div>
<%= render "shared/answernew" %>



