<h2><%= @question.title %></h2>

<p>
  <%= @question.content %>
</p>

<% if current_user %>

  <p>Score: <%= @question.votes.sum('value') %></p>

  <%= form_for @vote do |f| %>
    <%= hidden_field_tag 'value', '1' %>
    <%= hidden_field_tag 'question_id', @question.id %>
    <%= hidden_field_tag 'type', 'question' %>
    <%= f.submit ("Vote Up") %>
  <% end %>

  <%= form_for @vote do |f| %>
    <%= hidden_field_tag 'value', '-1' %>
    <%= hidden_field_tag 'question_id', @question.id %>
    <%= hidden_field_tag 'type', 'question' %>
    <%= f.submit ("Vote Down") %>
  <% end %>
<% end %>

<%= render "shared/answernew" %>

<div id="answers">
  <%= render "shared/answers" %>
</div>
