<h2><%= @question.title %></h2>

<p>
  <%= @question.content %>
</p>

<% if current_user %>
  <%= form_for @vote do |f| %>
    <%= hidden_field_tag 'value', '1' %>
    <%= hidden_field_tag 'question_id', @question.id %>
    <%= f.submit ("Vote Up") %>
  <% end %>

  <%= form_for @vote do |f| %>
    <%= hidden_field_tag 'value', '-1' %>
    <%= hidden_field_tag 'question_id', @question.id %>
    <%= f.submit ("Vote Down") %>
  <% end %>
<% end %>

<% if current_user.id == @question.user_id %>
  <p>
    You cannot answer your own question.
  </p>
<% elsif current_user %>
  <%= form_for ([@question, @answer]) do |f| %>
    <%= f.label :content %>
    <%= f.text_area :content %><br>
    <%= f.submit ("Submit Answer") %>
  <% end %>
<% else %>
  <p>
    Have the answer? <%= link_to "Login", login_path %> or <%= link_to "signup", signup_path %> to share your fluff.
  </p>
<% end %>

<% if @question.answers %>
  <% @question.answers.each do |answer|%>
    <p>
    <%= answer.content %><br>
    Answered on <%= (answer.created_at).strftime('%F at %I:%M %p') %> by <%= link_to "#{answer.user.username}", user_path(answer.user_id) %>
    </p>
  <% end %>
<% end %>
