<h2>Edit Comment</h2>

<%= form_for @comment do |f| %>
  <p>
    <%= f.label :content %>
    <%= f.text_area :content, size: "60x12" %>
  </p>
    <%= hidden_field_tag 'question_id', @question.id %>
  
  <%= f.submit ("Edit Comment") %>
  <%= link_to "Cancel Comment", question_path(@question) %>

<% end %>
