<% if @question.answers %>
  <% @question.answers.each do |answer|%>
    <p>
    <%= answer.content %><br>
    Answered on <%= (answer.created_at).strftime('%F at %I:%M %p') %> by <%= link_to "#{answer.user.username}", user_path(answer.user_id) %>
    </p>

    <% if current_user %>

      <p>Score: <%= answer.votes.sum('value') %></p>

      <%= form_for @vote do |f| %>
        <%= hidden_field_tag 'value', '1' %>
        <%= hidden_field_tag 'question_id', @question.id %>
        <%= hidden_field_tag 'answer_id', answer.id %>
        <%= hidden_field_tag 'type', 'answer' %>
        <%= f.submit ("Vote Up") %>
      <% end %>

      <%= form_for @vote do |f| %>
        <%= hidden_field_tag 'value', '-1' %>
        <%= hidden_field_tag 'question_id', @question.id %>
        <%= hidden_field_tag 'answer_id', answer.id %>
        <%= hidden_field_tag 'type', 'answer' %>
        <%= f.submit ("Vote Down") %>
      <% end %>

      <% if answer.comments.any? %>
        <% answer.comments.each do |comment| %>
          <p><%= comment.content %></p>
          <p>
            Added at: <%= (comment.created_at).strftime('%F at %I:%M %p') %> by <%= link_to "#{comment.user.username}", user_path(comment.user_id) %>
          </p>
          <p> <%= link_to "Edit Comment", edit_comment_path(:comment => { comment_id: comment.id, question_id: @question.id }) %> </p>
          <p><%= link_to "Delete Comment", comment_path(:comment => {comment_id: comment.id, question_id: @question.id }), :method => :delete %></p>
        <% end %>
      <% end %>

      <p>
        <%= link_to "Add Comment", new_comment_path(:comment => { target_id: answer.id, target_type: 'answer', question_id: @question.id }) %>
      </p>

    <% end %>
  <% end %>
<% end %>
      
