<h3>Answers</h3>
 <p>
  <a href="#newanswer" class="small">Add new answer</a>
</p>
<% if @question.answers %>
  <% @question.answers.each do |answer|%>
    <div class="score">
    <p><%= answer.votes.sum('value') %></p>
    <% if current_user %>
      <%= form_for @vote do |f| %>
        <%= hidden_field_tag 'value', '1' %>
        <%= hidden_field_tag 'question_id', @question.id %>
        <%= hidden_field_tag 'answer_id', answer.id %>
        <%= hidden_field_tag 'type', 'answer' %>
        <%= f.submit ("Up") %>
      <% end %>

      <%= form_for @vote do |f| %>
        <%= hidden_field_tag 'value', '-1' %>
        <%= hidden_field_tag 'question_id', @question.id %>
        <%= hidden_field_tag 'answer_id', answer.id %>
        <%= hidden_field_tag 'type', 'answer' %>
        <%= f.submit ("Down") %>
      <% end %>
      <% end %>
    </div>
    <p>
    <div class="answer-content">
      <p>
        <b><%= link_to "#{answer.user.username}", user_path(answer.user_id) %></b> answered:
      </p>
      <p>
        <%= answer.content %><br>
        <small><%= (answer.created_at).strftime('%F at %I:%M %p') %></small>
      </p>
    </div>
    <p class="answer-comment">
      <%= link_to "Comment on this answer", new_comment_path(:comment => { target_id: answer.id, target_type: 'answer', question_id: @question.id }), { :class => "small" } %>
    <br><br>

      <% if answer.comments.any? %>
        <b>Comments</b></p>
        <% answer.comments.each do |comment| %>
          <p class="answer-comment">
            <%= link_to "#{comment.user.username}", user_path(comment.user_id) %> says:<br>
            <%= comment.content %>
            <% if current_user && (comment.user_id == current_user.id) %>
              <br><%= link_to "Edit", edit_comment_path(:comment => { comment_id: comment.id, question_id: @question.id }), { :class => "small" } %> &bull;
              <%= link_to "Delete", comment_path(:comment => {comment_id: comment.id, question_id: @question.id }), {:method => :delete, :class => "small"} %>
            <% end %>
          </p>
            <% end %>
      <% end %>

  <% end %>
<% end %>
      
