<% if current_user %>
  <%= form_for ([@question, @answer]) do |f| %>
    <p>
      <%= f.label :content, "Answer" %>
    </p>

    <%= f.text_area :content, :size => "50x10"%><br>
    <%= f.submit ("Submit Answer"), id: "newAnswer" %>
  <% end %>

<% else %>
  <p>
    Have the answer? <%= link_to "Login", login_path %> or <%= link_to "signup", signup_path %> to share your fluff.
  </p>
<% end %>
