<!DOCTYPE html>
<html>
<head>
  <title>StackOverfluff</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Life+Savers:400,700' rel='stylesheet' type='text/css'>
</head>
<body>

  <header>
    <h1>StackOverfluff</h1>
  </header>

  <nav>
    <span class="logo">Stack</span><span class="logo-em">Overfluff</span><br>
    <ul class="nav">
      <li class="nav"><%= link_to "All questions", questions_path %></li>
      <li class="nav"><%= link_to "All users", users_path %></li>
      <% if current_user %>
        <%= render "shared/usermenu" %>
      <% else %>
        <%= render "shared/anonmenu" %>
      <% end %>
    </ul>
  </nav>
  
  <div id="container">
    <%= yield %>
  </div>

</body>
</html>
